<div class="footer">
    <div class="pull-right">
        Državna uprava
    </div>
    <div>
        <strong>Copyright</strong> Državni zavod za statistiku &copy; @DateTime.Now.Year
    </div>
</div>
